* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/src/assets/background.png');
  background-size: cover;
  background-position: center;
}

.square {
  position: relative;
  width: 84px;
  height: 84px;
  display:  flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 672px;
}

.underAttack {
  background: green;
}

.square img {
  width: 74px;
  height:  74px;
  position: relative;
}

.square::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  z-index: 1;
}

.square.selected::after {
  opacity: 1;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: darkgreen;
  transition: opacity 0.3s;
}

.black {
  background-color: saddlebrown;
}
.white {
  background-color: antiquewhite;
}